<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pptx</string>
	<string>T15.2 (7374.0.70)</string>
	<string>M15.2.1-7048.0.3-2</string>
	<string>T15.2 (7374.0.70)</string>
</array>
</plist>
